/* theme: mountain fuji */
body {
  background-color: rgb(1, 4, 33);
  color: #cacaca;
  font-family: Fira Sans, sans-serif;
  margin: auto;
  max-width: 768px;
  text-align: center;
}

header {
  text-align: center;
  background-color: #de4b06;
  border-radius: 0 0 8px 8px;
  font-size: large;
  margin: 0;
  padding: 12px;
  width: auto;
}

#texts {
  border-radius: 8px;
  color: #d2d3d8;
  font-size: 24px;
  margin: 12px auto;
  padding: 6px;
}

img{

}
.balls {
  background-color: #de4b06;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-items: start;
  padding: 12px;
  text-align: center;
}

.ball {
  border-radius: 100%;
  border: solid white 4px;
  height: 64px;
  margin: auto;
  width: 64px;
}

footer {
  align-items: center;
  background-color: #de4b06;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: auto;
  padding: 12px;
}

button {
  background-color: #020120;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  color: #cacaca;
  float: right;
  font-size: 16px;
  padding: 12px;
  transition: ease-in-out 0.3s;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  filter: brightness(75%);
}

#score-full {
  background-color: #020120;
  border: 1px solid #9ec49f;
  border-radius: 8px;
  color: #f4ecec;
  float: left;
  padding: 12px;
}

#rgb-color{
  border-radius: 10%;
  border: solid white 4px;
  margin: auto;
  width: 200px;
}

#laranja{
  float: left;
  width: 120px;

}

#power{
  width: 50%;
  border-radius: 10%;
  display: inline;
  margin: auto;
  padding: 20px;
  text-align: center;
}
